# Archivos de bytecode de Python
__pycache__/
*.py[cod]
*$py.class

# Distribución/empaquetado
dist/
build/
*.egg-info/
*.egg

# Entornos virtuales
.demon/
.demonio/

# Archivos de IDE y editores
.idea/
.vscode/
*.swp
*.swo
*~

# Archivos específicos del sistema operativo
.DS_Store
Thumbs.db

# Archivos temporales de Tkinter
*.tcl.tmp

# Archivos de configuración local
config.ini
settings.local.py

# Archivos de registro
*.log

#dB
config.db